
<div class="card mb-3" style="max-width: 1540px;">
    <div class="row g-0">
      <div class="col-md-6 grow">
        <img src="/assets/angular.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Angular</h4>
        <p>Nucigent provides full-cycle Java development services to provide ever-changing needs of business. Java development doing as a core application service for Nucigent which brands us one of the top specialists in technology.</p>
             <p class="card-text">Angular is the most considered open source programming development structure dependent on TypeScript innovation. It is well known on the grounds that it is development friendly and gives an arranged framework for websites or product developments. Developments in Angular have made an outstanding impact on application development. Nucigent always on the lookout of new features to improve the quality of service and product-offering. Development with the latest Angular 10.0 version is more popular and supportive to other platforms With our expert professionals, we guarantee a rapid application development and promise a high quality and standard product. We are strongly suggest to give our clients the benefits of covering the element used to modern technology.</p> 
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
