 <!-- <div class="container-fluid" style="background-color: #030F27;">
  <div class="container " style="margin-left:200px ; ">
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Our Mission</h2>
      
        <div id="section">
          <div class="article">
            <p>Our mission is to achieve the reputation of a quality, high standard & reliable solution & service Provider Company in the ICT industry.
    
              Nucigent Technologies mission is to deliver optimal solutions with quality and services at reasonable prices. For us customer satisfaction is given top place.
            </p>
            <p class="moretext">
              We also believe that for our scope of improve- sation  sky is the limit and we are always ready to take our achievements to the next level.
                       We are growing and would always like to remain on the growing streak.
            </p>
          </div>
          <a class="moreless-button" >Read more</a>
        </div>
       
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Our Vision</h2>
        <div id="section">
          <div class="article">
            <p>Our Vission is to achieve 100% customer satisfaction by delivering quality products and services at an affordable cost. Our forward vision is to strive to become an entity in technology based corporate solutions, capable of demanding unconditional response from the targeted niche.
            </p>
            <p class="moretext">
              We also believe that for our scope of improve- sation – sky is the limit and we are always ready to take our achievements to the next level. We are growing and would always like to remain on the growing streak.
            </p>
          </div>
          <a class="moreless-button" >Read more</a>
        </div>
      </div>
    </div>
    <div class="box">
      <span></span>
      <div class="content">
        <h2>Our Philosophy</h2>
        <div id="section">
          <div class="article">
            <p>Westech has the expertise and experience to manage an enabling infrastructure and applications and run outsourced operations. Westech's Managed Services offerings cover the entire array of IT outsourcing services including networks, IT infrastructure, applications and business processes. 
            </p>
            <p class="moretext">
              Westech having a successful track of providing most comprehensive software services and seamless support to hundreds of Direct Selling companies in India & abroad. Many successful stories and case studies to share, may please contact us for detailed demonstration.
            </p>
          </div>
          <a class="moreless-button" >Read more</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
          <!-- <button class="moreless-button " type="button">Read More</button> -->
