/* body {
    background: linear-gradient(-100deg,white 50%, deeppink 50%);
    height: 70vh;
    font-family: poppins;
} */
.container {
    margin-top: 3%;
}
.main{
    margin-bottom: 120px;
}
.img-text {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
}
.img-texth2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.img-text p {
    font-size: 14px;
}
.single-box {
    position: relative;
    margin-bottom: 30px;
}
.img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
    margin-left: 9%;
}

/* .img-area{
    position: absolute;
    width: 120px;
    height: 120px;
    border: 5px solid rgb(209, 56, 117);
    overflow: hidden;
    top: 33px;
    left: 125px;
    border-radius: 50%;
    margin-left: 9%;
} */
.img-area img {
width: 100%;

}
.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}
.carousel-indicators li {
background: #000;
border-radius: 50%;
width: 15px;
height: 15px;
}
.carousel-indicators .active {
    background: rgb(227, 5, 5);
}


.carousel-indicators .deactive {
    background: rgb(127, 184, 40);
}