<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="/assets/teamimage/domy1.png" alt=""></div>
                                        <div class="img-text">
                                            <h2>
                                                kalpana Prusty
                                            </h2>
                                            <h5>Director</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="/assets/teamimage/pragyanshree.jpeg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Pragyanshree Shukla</h2>
                                            <h5>Director</h5>
                                        </div>
                                    </div>
                                </div>
                                 <!-- <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src=" /assets/teamimage/domy.png" alt=""></div>
                                        <div class="img-text">
                                          <h2>Bhasa Misra</h2>
                                          <h5>Director</h5>
                                            
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                       
                                            
<!--   
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="/assets/teamimage/domy1.png" alt=""></div>
                                        <div class="img-text">
                                          <h2>Sasmita senapati</h2>
                                          <h5>Director</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="/assets/teamimage/yasmin.jpg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Yasmin Aktari</h2>
                                            < <p>Director</p> -->
                                            <!-- <h5>Director</h5>

                                            
                                            
                                        </div>
                                    </div>
                                </div> -->
                                 <!-- <div class="col-md-4">
                                    <div class="single-box">
                                        <div class="img-area"><img src="/assets/teamimage/sneha.jpeg" alt=""></div>
                                        <div class="img-text">
                                            <h2>Sneha Das</h2>
                                            <p>Software Developer</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div> -->
  
  
  
  
  
  
                        <!-- <div class="carousel-item deactive">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/jasobanta3.jpg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Swarup kumar</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/krutika22.jpg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Krutika Mishra</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div>
                               <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/suryasmita.jpeg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Suryasmita Swain</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
  
  
  
                    </div>
                    
                               
                                
                                
                                
                                        
                                       
                                       
                                        
                                        
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                  </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
  
  
  
