<p>python works!</p>
<h2>Python Developers</h2>
<h3>Roles & Responsibilities :</h3>
<ul>
    <li>2-3 years experience in Python, with knowledge of Python web framework such as: Django, Flask, etc.</li>
    <li>Familiarity with some ORM (Object Relational Mapper) libraries.</li>
    <li>Able to integrate multiple data sources and databases into one system.</li>
    <li>Writing reusable, testable, and efficient code.</li>
    <li>Understanding of the threading limitations of Python, and multi-process architecture.</li>
    <li>Good understanding of server-side templating languages such as Jinja 2, Mako, etc</li>
    <li>Should have experience in Linux.</li>
    <li>Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3.</li>
    <li>Understanding of accessibility and security compliance.</li>
    <li>Knowledge of user authentication and authorization between multiple systems, servers, and environments.</li>
    <li>Understanding of fundamental design principles behind a scalable application.</li>
    <li>Familiarity with event-driven programming in Python.</li>
    <li>Understanding of the differences between multiple delivery platforms, such as mobile vs desktop, and optimizing output to match the specific platform.</li>
    <li>Able to create database schemas that represent and support business processes.</li>
    <li>
        Strong unit test and debugging skills.
        Proficient understanding of code versioning tools such as Git, Mercurial or SVN.</li>
        <li>
            Work independently under limited supervision and apply knowledge of subject matter in Applications Development.</li>
            <li>Good knowledge on OAuth, OpenId connect, Single sign on is an added advantage.</li>
    <li>Should have excellent English written and Verbal communication skills.</li>
    
</ul>















