<h2>Java Developers</h2>
<h3>Job Description:</h3>
<ul>
<li>requirements, design, develop, test, implement and support various web applications Java.</li>
<li>innovative and out-of-the box ideas to solve deep technical business problems.</li>
<li>Participate in critical customer/production escalation.</li>
<li> Candidate are expected to have experience with Agile Methodology.</li>
</ul>
<h3>Required Skills:</h3>
<ul>
<li>Good hands on experience in JAVA, JavaScript, J2EE Tools with Object Oriented Designs.</li>
<li>Strong experience in Spring (Struts/Spring MVC / Spring Boot) and ORM frameworks like Hibernate / JPA.</li>
<li>Basic knowledge of SQL. (Experience in MySQL / Oracle / Postgress / MS SQL)</li>
<li>Good knowledge and understanding of Web Service API's for integration purposes.</li>
<li>Good understanding of deployment environments, configuration of applications, change management principles.</li>
<li> Open to learn, adapt and contribute to Microservices using Open Source Platform.</li>
</ul>




    
    
   
    
   
