<div class="container-fluid" style="background-color:gray ;">
    <div class="innbanner">
        <!-- <img src="/assets/pothi.jpeg" alt="" > -->
    </div>
    <!-- <div class="row">

<div class="col-md-8"> -->
    <div class="card mb-3" style="max-width: 1540px;">
        <div class="row g-0">
          <div class="col-md-6 grow">
            <img src="/assets/alexa.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
                <h2>POtHi - the smart device</h2>
<ol>
    <li> A portable user friendly hand held smart device</li>
    <li>Takes vocal command in regional dialect(Odiya)& responds accordingly.</li>
    <li>User friendly Easy to use & easy to communicate.</li>
    <li>Gateway to ocean of knowledge and information.</li>
    <li>Supports portability, enhancements & machine learning.</li>
</ol>
<h3>Assists in day to day activities of people from every walks of life</h3>
<ol>
    <li>Controls compatible smart home appliances like light/Fan/TV/Coffee machine etc.</li>
    <li>Provides answer to queries as with 99% accuracy
        <ol>
            <li>Is Rajdhani Exp Running on time today?</li>
            <li>Do I need an Umbrella today?</li>
            <li>What is gold rate of Lal Chand jewellery today?</li>
            <li>Is there a house on rent/sale available near my location?</li>
            <li>Play some music when said - Kichi gita Bajja</li>
        </ol>
    </li>
</ol>
              <!-- <h4 class="card-title text-center">Java</h4>
            <p>Nucigent provides full-cycle Java development services to provide ever-changing needs of business. Java development doing as a core application service for Nucigent which brands us one of the top specialists in technology.</p>
                 <p class="card-text">Nucigent understands requirements of all our clients at every stage of application development process to deliver perfect and integrated Java solutions such as Application Development, Product Customization, Application Migration, Microservice solutions with highest levels of productivity at the same time as grasping prime return on client's deal. Nucigent specializes in Java development for custom business applications with deep expertise in the Java programming language. We have been providing Java development and professional consulting services. Our Java development team has hard experience in custom enterprise applications development using various Java development environments (Core Java, JSP, Servlets, Hibernate, Spring, Microservces etc.). We always prefer experienced application development who are ready to devote their experience and knowledge to development and enhancement of solutions that we offer to our clients.</p>  -->
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      <!-- </div> -->
<!-- <h2>POtHi - the smart device</h2>
<ol>
    <li> A portable user friendly hand held smart device</li>
    <li>Takes vocal command in regional dialect(Odiya)& responds accordingly.</li>
    <li>User friendly Easy to use & easy to communicate.</li>
    <li>Gateway to ocean of knowledge and information.</li>
    <li>Supports portability, enhancements & machine learning.</li>
</ol>
<h3>Assists in day to day activities of people from every walks of life</h3>
<ol>
    <li>Controls compatible smart home appliances like light/Fan/TV/Coffee machine etc.</li>
    <li>Provides answer to queries as with 99% accuracy
        <ol>
            <li>Is Rajdhani Exp Running on time today?</li>
            <li>Do I need an Umbrella today?</li>
            <li>What is gold rate of Lal Chand jewellery today?</li>
            <li>Is there a house on rent/sale available near my location?</li>
            <li>Play some music when said - Kichi gita Bajja</li>
        </ol>
    </li>
</ol>
</div> -->
<div class="col-md-4">
    
<!-- <h2>POtHi - Evolution</h2>
<h3>First generation(POtHi)</h3>
<ol>
    <li>Vocal command support</li>
    <li>Wake up call/Morning News ( On demand)</li>
    <li>Controls smart home appliances</li>
    <li> Advertisements/Preferred vendor</li>
</ol>
<h2>Second generation ( POtHi Prime)</h2>
<ol>
    <li>Vocal & Visual Display support</li>
    <li>To Dos for this week</li>
    <li>Reminds family functions/Events</li>
    <li>Feature Enhancement based in user feedback</li>
</ol> -->
</div>
</div>
</div>
<div class="row g-0" style="background-color: rgb(252, 245, 245);">
    <div class="col-md-6 grow " style="margin-left:19px ;">

<h2>POtHi - Evolution</h2>
<h3>First generation(POtHi)</h3>
<ol>
    <li>Vocal command support</li>
    <li>Wake up call/Morning News ( On demand)</li>
    <li>Controls smart home appliances</li>
    <li> Advertisements/Preferred vendor</li>
</ol>
</div>
<div class="col-md-5 grow">

<h2>Second generation ( POtHi Prime)</h2>
<ol>
    <li>Vocal & Visual Display support</li>
    <li>To Dos for this week</li>
    <li>Reminds family functions/Events</li>
    <li>Feature Enhancement based in user feedback</li>
</ol>
</div>
</div>