.container-fluid{
    background-color: rgb(240, 227, 245);
}
.innbanner  img{
    height: 370px;
    position: relative;
    position: relative;
    /* background-size: cover; */
    background-position: bottom center;
    /* background-attachment: fixed; */
    background-attachment: initial;
    background-size: 100% 100%;
    width: 100%;
    background: linear-gradient(to left, #76a2db, #f8e15b);

  }