
<section class="">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
     
      <div class="carousel-item active">
        <img src="/assets/pothi.jpeg" class="d-block w-100  img-fluid " alt="...">
        <div class="carousel-caption">
          <p class="animated fadeInRight" style="color:white ;font-size: 40px; font-style: italic;font-weight: bolder;" >Our upcoming Intelligence</p>
          <marquee behavior="scroll" direction="left">
            <p class="text-center glow1" style=" font-size: 50px; font-style: italic;font-weight: bolder; ">let's have our computer hear and speak odia</p>
          </marquee>
          
          <h1 class="animated fadeInLeft">For Dream of Odisha</h1>
          <button type="button" class="btn btn-success"><i class="fas fa-book pr-2" aria-hidden="true"></i> <a [routerLink]="['/pothi']" routerLinkActive="active" style="text-decoration:none; color: wheat; font-weight: bold;">For More Details</a></button>
         
          <br><br>
        

      </div>
      </div>
      
      <!-- <div class="carousel-item active">
        <img src="/assets/back1.jpg" class="d-block w-100   img-fluid" height="100px" alt="...">
        <div class="carousel-caption">
          <p class="animated fadeInRight">We Are Professional</p>
          <h1 class="animated fadeInLeft">For Your Dream Project</h1>
          <a class="btn animated fadeInUp" href="https://htmlcodex.com/construction-company-website-template">Get A Quote</a>
      </div>
      </div> -->
      <div class="carousel-item">
        <img src="/assets/infra.jpg" class="d-block w-100  img-fluid" alt="...">
        <div class="carousel-caption">
          <p class="animated fadeInRight">Professional Developer</p>
          <h1 class="animated fadeInLeft">We Build Your Web application</h1>
          <!-- <a class="btn animated fadeInUp" href=
          ''>Get A Quote</a> -->
      </div>
      </div>
      <div class="carousel-item ">
        <img src="/assets/back1.jpg" class="d-block w-100   img-fluid" height="100px" alt="...">
        <div class="carousel-caption">
          <p class="animated fadeInRight">We Are Professional</p>
          <h1 class="animated fadeInLeft">For Your Dream Project</h1>
          <!-- <a class="btn animated fadeInUp" href="">Get A Quote</a> -->
      </div>
      </div> 
      <!-- <div class="carousel-item ">
        <img src="/assets/pothi.jpg" class="d-block w-100  img-fluid " alt="...">
        <div class="carousel-caption">
          <p class="animated fadeInRight">Our upcoming Intelligence</p>
          <marquee behavior="scroll" direction="right">
            <p class="text-center glow1" style=" font-size: 50px; font-style: italic;font-weight: bolder; ">let's have our computer hear and speak odia</p>
          </marquee>
          
          <h1 class="animated fadeInLeft">For Dream of Odisha</h1>
          <a class="" routerLink="/pothi">For More Details</a>
          
      </div>
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>




<!-- <app-bodycard1></app-bodycard1> -->

<div class="card bg-dark text-white " >
  <img src="assets/glass.jpg" class="card-img" alt="..." height="600px">
  <div class="card-img-overlay mt-5">
    <h3 class="card-title">Call To Action</h3>
    <p class="card-text" style="font-size:20px ;">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>
    <a routerLink="/contact"> <button class="glow" style="padding:15px ;"> Call to action</button> </a>
  </div>
</div>