<div class="header">
    <ul>
        <li>
            <a href="#">Home <span>/</span> </a>
            <a href="#">Services</a>
        </li>
    </ul>
    <h2 class="text-center">Web Development</h2>
</div>
<div class="card">
    <div class="card-body py-5">
<div class="card mb-3" >
    <div class="row g-0 cardbody">
      <div class="col-md-4 grow">
        <img src="assets/webdev.jpg" class="img-fluid rounded-start " alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <!-- <h5 class="card-title">Web Development</h5> -->
         <p> We provide focused web development services to the businesses with a team including of website analysts, UX /UI designers, developers with the expertise and assurance of highly experienced designers, developers, quality assurance engineers to track the right project activities and accomplishments are carried out in specific stages of software development life cycle.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
