
<div class="main">
<h2 class="text-center">About Us</h2>
<!-- <p>Our vast experience provides development skills from mainframe technology to web-based applications, systems integration, engineering and project management. Nucigent can assist with any and all aspects of information technology from new technology evaluation to implementation to daily an operations and maintenance (O&M).

</p> -->
<p>Nucigent develops products and services, provides consultancy and support for various clients and partners. Among them, 
  there are both dynamic small to medium businesses. Our team has completed various projects on time and budget in different domains, 
  including: finance, retail, education, tourism. We were working with businesses from the USA, Singapore, Africa etc.</p>


<div class="row">
    <div class="col-sm-5">
       <h3> Trust.</h3>
        <p>  Working with remote teams seems risky. That's why fairness in everything we do is not the buzzword for us and we expect the same in return.</p>
      
        <h3>Transparency.</h3>
        <p> Transparency in customer relations is the basis of successful projects and long-term partnerships. That's why we encourage you to communicate 
          with each member of our team.</p>
       <h3>Responsibility</h3>
       <p>After entrusting us your idea you can fully rely on our support and commitment to deliver on time, on budget and with the best possible outcome.</p> 
        
     
    </div>
    <div class="col-sm-7 grow">
        <img src="assets/about3.jpg" alt="" height="100%" width="100%" >
    </div>
</div>

</div>

<div>
   <p>
        A range of skills include: Java, J2EE, Python, .Net, Mobile (Android, iOS) Angular, ReactJS, Flutter, AJAX, HTML5, C#, Exchange, IBM Maximo, Java, JavaScript, JSON, Oracle, SQL Server, My SQL, MongoDB, SharePoint etc. Nucigent staff members are experts in systems development lifecycle activities, including
      </p>
      <ol>
        <li style="list-style-type:square"> Requirements gathering and analysis</li>
        <li style="list-style-type:square">Systems architecture and engineering</li>
        <li style="list-style-type:square">Infrastructure</li>
        <li style="list-style-type:square">Security</li>
        <li style="list-style-type:square">Application development</li>
        <li style="list-style-type:square">Systems integration</li>
        <li style="list-style-type:square">On-going operations and maintenance (O&M)</li>
      </ol>
</div>