<h2>Angular Developer</h2>
<h3>Experience Required: 4 to 6 years</h3>
<h3>Skills:</h3>
<ul>
<li style="list-style-type:square ;">Proficiency with Angular version 2+.</li>
<li>Understanding of Typescript and JavaScript.</li>
<li>Working in team to achieve the tasks given.</li>
<li>Ability to work independently to achieve project targets.</li>
<li>Helping team members on technical challenges.</li>
<li>Logical thinking to create a program with minimal code.</li>
<li>Understanding of coding standards.</li>
<li>Should have good communication skills.</li>
<h3>Responsibilities:</h3>
<li>Developing new user- facing features using Angular.</li>
<li>Building reusable components and front-end libraries for future use.</li>
<li>Optimizing components for maximum Performance across a vast array of web-capable devices and browsers.</li>
<li>Translating designs and wire frames into high quality code.</li>
<li>Remain current on new technologies and available vendor packages; evaluate and make recommendations as necessary.</li>
</ul>


   
   
    
    
    

