<div class="card mb-3" style="max-width: 1540px;">
    <div class="row g-0">
      <div class="col-md-6 grow">
        <img src="/assets/net1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">.Net</h4>
       
             <p class="card-text">Microsoft .NET is a cross-platform, robust framework that allows you to create enterprise-level custom applications. AQL builds different applications, tailored to your requirements, for web, mobile, desktop, games, and IoT. We provide dynamic, reliable, and scalable .NET applications aligned with Microsoft’s best practices.We can architect & build applications for various platforms using the .NET framework and assist you with enterprise-level implementation strategies. Our Microsoft .NET developers, designers and testers have been completely focused on providing the best solutions and services to our esteemed customers. Our developers have been implementing various Microsoft solutions to different customers as mentioned below Customized Enterprise Solutions are:</p> 
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
