<div class="card mb-3" style="max-width: 1540px;">
    <div class="row g-0">
      <div class="col-md-6 grow">
        <img src="/assets/java.jpg" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h4 class="card-title text-center">Java</h4>
        <p>Nucigent provides full-cycle Java development services to provide ever-changing needs of business. Java development doing as a core application service for Nucigent which brands us one of the top specialists in technology.</p>
             <p class="card-text">Nucigent understands requirements of all our clients at every stage of application development process to deliver perfect and integrated Java solutions such as Application Development, Product Customization, Application Migration, Microservice solutions with highest levels of productivity at the same time as grasping prime return on client's deal. Nucigent specializes in Java development for custom business applications with deep expertise in the Java programming language. We have been providing Java development and professional consulting services. Our Java development team has hard experience in custom enterprise applications development using various Java development environments (Core Java, JSP, Servlets, Hibernate, Spring, Microservces etc.). We always prefer experienced application development who are ready to devote their experience and knowledge to development and enhancement of solutions that we offer to our clients.</p> 
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>