

<div class="wrapper bg-img-transparent">
    

    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <h1>Our Requirement</h1>
                <h3>Viewing 6 Open Positions.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/develop.jpg" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    Python Developer (1.5Years Exp),
                                    Bhubaneswar
                  ,Odisha
                                </p>
                                
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Python Developer</h3>
                            <a  class="btn" routerLink="/cservices/pythons" >+</a>
                            <!-- <button>  <a routerLink="/pythons">ShowMore</a> clickme</button> -->
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/webdev.jpg" alt="Image">
                            <div class="service-overlay">
                                <p>
                                    Java Developer (1.5Years Exp)
                                </p>
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Java Developer</h3>
                            <a class="btn" href="javarequirement"  data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/system-integration.jpg" alt="Image" height="260px">
                            <div class="service-overlay">
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                </p> -->
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Angular Developer</h3>
                            <a class="btn" href="/#/Angularrequirement"  data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/infra.jpg" alt="Image"height="275px">
                            <div class="service-overlay">
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                </p> -->
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>.Net Developer</h3>
                            <a class="btn" href="net"  data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/react.png" alt="Image" height="275px">
                            <div class="service-overlay">
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                </p> -->
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>React Developer</h3>
                            <a class="btn" href="react"  data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="/assets/sldc.jpg" alt="Image" height="275px">
                            <div class="service-overlay">
                                <!-- <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                                </p> -->
                            </div>
                        </div>
                        <div class="service-text">
                            <h3>Flutter Developer</h3>
                            <a class="btn" href="flutter"  data-lightbox="service">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->