<div class="card mb-3 " style="max-width: 1540px;">
    <div class="row g-0">
      <div class="col-md-6 grow">
        <img src="/assets/mobile.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body ">
          <h4 class="card-title text-center">Mobile</h4>
      
             <p class="card-text">We work on Mobile platforms that comprises of Android, iPad, iPhone, Windows mobile. We have absolute qualified and experienced group of mobile developers with an in-depth knowledge of mobile development and provides Mobile App Development Services to create custom application as per your requirement. Our highly qualified and experienced mobile apps development team are very much acquainted to the emerging trends in apps development such as Android, iOS and so on.</p> 
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>