<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            <h1 class="mt-1">Our Projects</h1>
            <!-- <h3 class="mt-2">Visit Our Projects</h3> -->
        </div>
        <div class="row" style="padding: 11px;">
            <!-- <div class="col-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".first">Complete</li>
                    <li data-filter=".second">Running</li>
                    <li data-filter=".third">Upcoming</li>
                </ul>
            </div> -->
        </div>
        <div class="row portfolio-container" style="margin-top: 23px;">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="/assets/tax.jpg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                <!-- All Tax calculator is available -->
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Financial accounting</h3>
                        <a class="btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="/assets/hr.jpg" alt="Image" height="310px">
                        <div class="portfolio-overlay">
                            <p>
                                Core HR Management
                                Automate and streamline your HR processes for maximum efficiency.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Human resource management</h3>
                        <a class="btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="/assets/erp.jpg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Manage your business with 10+ reports like GST reports, P&L, Stock & Party Ledger reports. Inventory Management Software.Best Invoicing & GST billing Software for SMEs.Safe&Secure. 
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Billing software</h3>
                        <a class="btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.4s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="/assets/pet.avif" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                Support our dedicated team of professional vets to care for homeless dogs
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Huntil</h3>
                        <a class="btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="assets/hospital.jpg" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                A hospital management system is an independent or cloud-based web medical management infrastructure that captures and integrates all department's data to automate the internal activities.
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Hospital Management system</h3>
                        <a class="btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.6s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="/assets/moradabad.jpg" alt="Image" height="300px">
                        <div class="portfolio-overlay">
                            <p>
                                The conceptualization of Smart City, varies from city to city and country to country, depending on the level of development, willingness to change and reform, resources and aspirations of the city residents. 
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Moradabad Smart City</h3>
                        <a class="btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">+</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 load-more">
                <a class="btn" href="#">Load More</a>
            </div>
        </div>
    </div>
</div>