/* .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}   */
/* .main{
    background-image: url("/assets/career.jpg");
    z-index: -1;
} */
.row .career{
    border-top: 4px solid red;
}
.row .career {
    background-color: #5D4037;
    color: white;
    /* margin: 3px; */
    font-size: 20px;
    text-align: center;
    /* color: white; */
}
.row .career .container p{
    color: white;
}
.career .container .develop{
    float: left;
}
/* .career1 .container .develop{
    float: left;
} */
.location {
    float: right;
    /* margin-left: 320px; */
}
.row .career1{
    background-color: #5D4037;
    color: white;
    font-size: 20px;
    /* text-align: center; */
}
.row .career1 .container p{
    color: white;
}
.row .career1{
    border-top: 4px solid red;
}
.row .career1 a{
    /* list-style-type: none; */
    text-decoration: none;
}

.row .career2{
    background-color: #5D4037;
    color: white;
    font-size: 20px;
    /* text-align: center; */
}
.row .career2 .container p{
    color: white;
}
.row .career2{
    border-top: 4px solid red;
}
.row .career2 a{
    /* list-style-type: none; */
    text-decoration: none;
}

.row .career3{
    background-color: #5D4037;
    color: white;
    font-size: 20px;
    /* text-align: center; */
}
.row .career3 .container p{
    color: white;
}
.row .career3{
    border-top: 4px solid red;
}
.row .career3 a{
    /* list-style-type: none; */
    text-decoration: none;
}
