<h2 class="text-center">We Require</h2>
<!-- <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4 mb-xs-40">
        <div class="jobgoto">
            div1
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 mb-xs-40">div2</div>
    <div class="col-lg-4 col-md-4 col-sm-4 mb-xs-40">div3</div> -->

<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-80">
            <img src="assets/dev.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python Developer</h5>
              <p class="card-text">2Years Exp</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 1 month ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/java.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Java Developer</h5>
              <p class="card-text">1Years Exp</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 1 month ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-80">
            <img src="assets/net.jpg" class="card-img-top" width="100px" height="200px" alt="...">
            <div class="card-body">
              <h5 class="card-title">.net Developer</h5>
              <p class="card-text"> 1.5years Exp</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 2months ago</small>
            </div>
          </div>
        </div>
      </div> -->

      <div class="main">
  <!-- python developer -->
  <div class="row mt-3" style="background-color:rgb(188, 181, 181);">
    <div class="col-sm-4 ">
      <h3>Viewing 3 Open Positions.</h3>
      <p style="color:#5D4037 ; font-size: 20px;">
        We're looking for people to join the team who are as excited as we are to help build the platform that empowers
        the future generation of creators to be successful online.</p>
    </div>
    <div class="col-sm-8 ">
      <div class="row ">
        <div class="col-sm-4 ">

        </div>
        <div class="col-sm-8 career">
          <a href="">
            <div class="container">
              <p class="city"><span class="develop ml-0">Python Developer (1.5Years Exp)</span> <span
                  class="location">Bhubaneswar
                  ,Odisha</span></p>
            </div>
          </a>
        </div>
      </div>
      <!-- java developer -->

      <div class="row mt-3">
        <div class="col-sm-4 ">

        </div>
        <div class="col-sm-8 career1">
          <a href="">
            <div class="container">
              <p class="city"><span class="develop ml-0">Java Developer (3Years Exp) </span><span
                  class="location">Bhubaneswar
                  ,Odisha</span></p>
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-4 ">

        </div>
        <div class="col-sm-8 career2">
          <a href="">
            <div class="container">
              <p class="city"><span class="develop ml-0">.Net Developer (2Years Exp) </span><span
                  class="location">Bhubaneswar
                  ,Odisha</span></p>
            </div>
          </a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-4 ">

        </div>
        <div class="col-sm-8 career3">
          <a href="">
            <div class="container">
              <p class="city"><span class="develop ml-0">Flutter Developer (1Years Exp) </span><span
                  class="location">Bhubaneswar
                  ,Odisha</span></p>
            </div>
          </a>
        </div>
      </div>
     

    </div>
  </div>
  <!-- <div class="container-fluid">
    <img src="assets/career.jpg" width="100%" height="20%" alt="" style="z-index:-1;">
  </div> -->
</div>


<!-- </div> -->