<div class="header">
    <ul>
        <li>
            <a href="#">Home <span>/</span> </a>
            <a href="#">Services</a>
        </li>
    </ul>
    <h2 >Software Development</h2>
</div>
<div class="card">
    <div class="card-body py-5">
<section>
    <div class="container py-5">
        <div class="card">
            <div class="row ">
                <div class="col-md-4 grow">
                    <img src="assets/develop.jpg"
                         class="w-100"> 
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <!-- <h4 class="card-title">Software Development</h4> -->
                        <p class="card-text">We provide software development services to every type of businesses with our industry experienced developers with ample expertise in software development those are our valuable assets for delivering the projects as per clients' expectations and maintaining support service with excellent customer feedbacks. </p>
                        <p class="card-text moretext">We always care about the economic value for any business apart from the software needs of the businesses. We are committed with the most recent trends and technologies available for Custom Website Development on Java Technologies, ASP, PHP, Angular, ReactJS , HTML5, JavaScript, CSS3, Bootstrap etc.</p>
                        <!-- <a routerLink="readmore" class="btn btn-primary">Read More</a> -->
                        <!-- <a class="moreless-button" href="#">Read more</a> -->

                        <button class="moreless-button glow-on-hover" type="button">Read More</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>
</div>
</div>

<!-- <router-outlet></router-outlet> -->
