<div class="main">
    <h2 class="text-center mt-2" >Requirment Identifications and Analysis </h2>
    <div class="para1 mt-5">
        <p>Whether it is a new system or upgrading an existing system, Westech provides the expertise to identify, document, and verify the requirements with the organization's stakeholders and everyday users. For existing systems, as a new customer requirement is requested, Westech follows a Best Practice process:</p>
    </div>

    <div class="row row1">
        <div class="col-sm-6 ">
            <ol>
                <li style="list-style-type:square">Validate the request - does existing functionality provide the same result?</li>
                <li style="list-style-type:square">Clarify the requirement – document the requirement details with the requesting party</li>
                <li style="list-style-type:square">Conﬁrm the request across the user community – ensure the new function will not adversely affect the application(s)</li>
                <li style="list-style-type:square">Guide the requirement through any internal review boards to receive approval for design and development</li>
                <li style="list-style-type:square">Obtain management sign-off for implementation of the requirement</li>
                <li style="list-style-type:square">Interface with the architects and engineers to translate the customer requirement into a system requirement</li>
                
            </ol>
            <p>When a new application or system is the desired result, Westech is proﬁcient in writing Agile user stories as well as using traditional methods. The choice of methods is up to the customer – one-on- one interviews, group interviews or facilitated sessions to obtain the requirements. The number and type of sessions will depend on:</p>
            <ol>
                <li style="list-style-type:square">The nature of the application/system</li>
                <li style="list-style-type:square">Size of the user community</li>
                <li style="list-style-type:square">Geography of the user community, i.e., headquarters vs. remote ofﬁces, local vs. global, etc</li>
                <li style="list-style-type:square">Interfaces with existing systems</li>
            </ol>

        </div>

        <div class="col-sm-6 ml-30 grow">
            <p>At Westech, our consultants can assist your IT staff to identify and document new requirements or just review those already gathered for completeness. Due to our industry experience in multiple phases of the development process, Westech can drive the requirements from identiﬁcation through to deployed system functionality.</p> 
            <p>Let Westech experts help your organization improve productivity today using Best Practices, methodologies, and tools</p>
            <img src="assets/sldc.jpg" alt="">
        </div>
    </div>
</div>