<div class="main">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="4"></li> -->
                  </ol>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/domy1.png" alt=""></div>
                                    <div class="img-text">
                                      <h2>Kalpana Prusty</h2>
                                      <p>Director </p>
                                    </div>
                                </div>
                            </div>
                              <!-- <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/manoj.jpg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Manoj Kumar</h2>
                                          <p>Project Manager</p>
                                      </div>
                                  </div>
                              </div> -->
                              <!-- <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/subrat1.jpg" alt=""></div>
                                      <div class="img-text">
                                          <h2>subrat kumar</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div> -->
                               <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src=" /assets/teamimage/pragyanshree.jpeg" alt=""></div>
                                      <div class="img-text">
                                        <h2>pragyanshree shukla</h2>
                                          <p>Director</p>
                                          
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/smruti.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Smruti Ranjan</h2>
                                        <p>Team Lead</p>
                                    </div>
                                </div>
                            </div>

                          </div>
                      </div>
                     
                                          

                      <div class="carousel-item">
                          <div class="row">
                              <!-- <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/smruti.jpeg" alt=""></div>
                                      <div class="img-text">
                                        <h2>Smruti Ranjan</h2>
                                        <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div> -->
                              <!-- <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/rasmita.jpeg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Rasmita Sahoo</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div> -->
                              <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/swarup.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Swarup kumar</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/rasmita.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Rasmita Sahoo</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-4">
                                  <div class="single-box">
                                      <div class="img-area"><img src="/assets/teamimage/krutika22.jpg" alt=""></div>
                                      <div class="img-text">
                                          <h2>Krutika Mishra</h2>
                                          <p>Software Developer</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="carousel-item">
                        <div class="row">
                            <!-- <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/smruti.jpeg" alt=""></div>
                                    <div class="img-text">
                                      <h2>Smruti Ranjan</h2>
                                      <p>Software Developer</p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/rasmita.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Rasmita Sahoo</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-md-4">
                              <div class="single-box">
                                  <div class="img-area"><img src="/assets/teamimage/jasobanta3.jpg" alt=""></div>
                                  <div class="img-text">
                                      <h2>Jashobanta Sahoo</h2>
                                      <p>Software Developer</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="single-box">
                                  <div class="img-area"><img src="/assets/teamimage/jyotiprangya.jpeg" alt=""></div>
                                  <div class="img-text">
                                      <h2>Jyotiprangya Bhoi</h2>
                                      <p>Software Developer</p>
                                  </div>
                              </div>
                          </div>
                             <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/krutika22.jpg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Krutika Mishra</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="carousel-item deactive">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/sneha.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Sneha Das</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/suryasmita.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Suryasmita Swain</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/shiba.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Shiba Sankar Dalai</h2>
                                        <p>Network Engineer </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="carousel-item deactive">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/sneha.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Sneha Das</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/suryasmita.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Suryasmita Swain</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/shiba.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Shiba Sankar Dalai</h2>
                                        <p>Network Engineer </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="carousel-item deactive">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/sneha.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Sneha Das</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            
                             <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/suryasmita.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Suryasmita Swain</h2>
                                        <p>Software Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-box">
                                    <div class="img-area"><img src="/assets/teamimage/shiba.jpeg" alt=""></div>
                                    <div class="img-text">
                                        <h2>Shiba Sankar Dalai</h2>
                                        <p>Network Engineer </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                  </div>
                  
                             
                              
                              
                              
                                      
                                     
                                     
                                      
                                      
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

  <!-- <div class="col-md-4">
    <div class="single-box">
        <div class="img-area"><img src="/assets/teamimage/krutika22.jpg" alt=""></div>
        <div class="img-text">
            <h2>Krutika Mishra</h2>
            <p>Software Developer</p>
        </div>
    </div>
</div>
   <div class="col-md-4">
      <div class="single-box">
          <div class="img-area"><img src="/assets/teamimage/sneha.jpeg" alt=""></div>
          <div class="img-text">
              <h2>Sneha Das</h2>
              <p>Software Developer</p>
          </div>
      </div>
  </div>
</div> -->
