<h2>What do We expect from you:</h2>
<ol>
    <li>You need to be a quick learner, hard worker, and committed to writing clean code.</li>
    <li>You need to be located in Bhubaneswar now or ready to come if you are invited onto the team.</li>
    <li>Prepare to think a lot, code a lot, learn about everything, and have fun with our small and growing team.</li>
    
</ol>
<h2>What do we expect you to have?</h2>
<ol>
    <li>Hands on experience in any of the following JS technologies Node, Angular, REACT
        Worked on REST APIs</li>
     <li>Worked on more than one SQL No-SQL DB Oracle, Postgres, MongoDB, DynamoDB, Graph DB </li>
           <li> Thorough understanding of React.js and its core principles</li>
           <li>Experience with popular React.js workflows (such as Flux or Redux)</li>
           <li>Experience with data structure libraries (e.g., Immutable.js)</li>
           <li>Knowledge of isomorphic React is a plus</li>
           <li>Knowledge of modern authorization mechanisms, such as JSON Web Token</li>
           <li>
            Familiarity with modern front-end build pipelines and tools</li>
            <li>Experience with common front-end development tools such as Babel, Webpack, NPM, etc.</li>
            <li>Familiarity with code versioning tools such as Git, SVN and Mercurial</li>
</ol>













