<h2>What do We expect from you:</h2>
<ol>
    <li>5+ years of professional experience using .NET technologies with an emphasis on C#, Restful APIs</li>
    <li>3+ years of experience creating/consuming web services and data</li>
    <li>2+ years of experience in Web/UI technologies – Angular/ReactJs ,TypeScript, jQuery, CSS, HTML</li>
    <li>Sound knowledge of C#, Asp.NET MVC, Asp.NET Core, Web API</li>
    <li>Strong analytical and conceptual skills in database related work primarily creating complex stored procedure, Views, Triggers and Functions using MS SQL</li>
    <li>Has experience of working with ORMs Like Entity Framework Core ,Dapper</li>
    <li>Has knowledge of Onion and MVC architecture</li>
    <li>Strong Analysis, Design and Development Skills</li>
    <li>Solid understanding and experience with Object-Oriented design and development</li>
    <li>Hands on experience in Git version-control</li>
    

</ol>
<h2> What your Job is all about:</h2>
<ol>
    <li>Working experience with Agile methodologies would be useful</li>
    <li>Prior work experience with multi-threaded/ performance intensive applications</li>
    <li>Knowledge of docker or container-based applications</li>
    <li>Prior work experience with cloud-based applications</li>
    <li>Knowledge of CI/CD and Deployment</li>
</ol>







