<div class="main">
    <h2 class="text-center mt-2" >Infrastructure Support </h2>
    <div class="para1 mt-5">
        <p class="text-center">Whether your infrastructure requires migration to a new hardware platform or an e-mail
            migration to the latest Microsoft software, Nucigent provides the expertise to complete the project with
            minimal user impact. Projects can range from assisting your data center staff to migrate large applications
            to the latest Sun Enterprise server platform, installation and conﬁguration of SAN components to support
            COTS software to creating the centralized administration of applications.
        </p>
        <p class="text-center">Nucigent consultants can implement the centralized administration for you, as well as
            augment your infrastructure staff. Typical activities would include:</p>
    </div>

    <div class="row ">
        <div class="col-sm-6 ">
            <ol class="list">
                <li style="list-style-type:square">maintenance and server builds</li>
                <li style="list-style-type:square">systems engineering</li>
                <li style="list-style-type:square">server and infrastructure design</li>
                <li style="list-style-type:square">network connectivity</li>
                <li style="list-style-type:square">storage</li>
                <li style="list-style-type:square">backup and restores</li>
                <li style="list-style-type:square">full operations and maintenance, including</li>
                <li style="list-style-type:square">adding and deleting user</li>
                <li style="list-style-type:square">installation of software patches and updates</li>
                <li style="list-style-type:square">Tier 2 application support</li>
            </ol>
        </div>
        <div class="col-sm-6 grow">
            <img src="assets/infra.jpg" alt="">
        </div>
    </div>
    <div class="para3">
        <p class="text-center">In all industries, e-mail migrations are infrastructure projects requiring specialized
            skills. Most organizations don't have the requisite knowledge and bandwidth to execute such projects quickly
            with zero impact on the day-to-day mission critical business. Nucigent utilizes a variety of tools and Best
            Practices to assist your organization whether migrating a few hundred mailboxes to tens of thousands.
            Migrations can be from Windows NT, Active Directory 2000, 2003, 2008, and Exchange 2000, 2003, 2007 to the
            latest Microsoft platform. A migration project includes a number of activities from planning, to full
            production migration through post-migration clean-up. Let Nucigent experts help your organization improve
            productivity today using Best Practices, methodologies, and tools.</p>
        <p class="text-center">Nucigent provides consulting expertise for the design and development of a wide range of
            information systems for both government and commercial customers. Our skill sets range from working with
            customers to identify and reﬁne requirements, through the deployment of systems to production. Our speciﬁc
            areas of expertise include both web and client-server based systems with emphasis on:</p>
    </div>

    <div class="row ">
        <div class="col-sm-6 ">
            <h3>System Requirements Deﬁnition</h3>
            <p>Transform user requirements into system requirements for further deconstruction to the component level
                for development and testing. The system requirements will focus on any user interface, functional,
                environmental, security, and performance needs.</p>
        
        <h3>System Concept Deﬁnition</h3>
        <p>Meet with the customer to determine initial needs and formulate a system design concept that can be used to
            provide further requirements detail.</p>
        <h3>System Design and Analysis</h3>
        <p>Further reﬁne the high level design to produce a detailed system design. The design details will i specify
            the architecture and analyze the performance required to meet the system requirements.</p>
        <h3>System Security Architecture</h3>
        <p>Review the overall system requirements for compliance with the security architecture and compliance
            regulations.</p>
        <h3>System Workﬂow Analysis and Deﬁnition</h3>
        <p>Establish new workﬂows or modiﬁcation of existing workﬂows based on the business process requirements </p>
        <h3>Digital Rights Management (DRM) and other encryption technologies</h3>
        <p>Determine the levels and types of data encryption required for the system and speciﬁc products for
            implementation.</p>
        <h5>Examples of architecture and engineering projects are:</h5>
        <ol>
            <li style="list-style-type:square">Revamping Lotus Notes client to web-based front ends</li>
            <li style="list-style-type:square">Replacing Windows NT with Active Directory</li>
            <li style="list-style-type:square">Migrating from Exchange 200x to Exchange 2008</li>
            <li style="list-style-type:square">Replacing legacy procurement system with customized COTS software</li>
        </ol>
    </div>
    <div class="col-sm-6 ">
        <h3>Technology evaluation and integration with existing architecture</h3>
        <p>Compare customer requirements against existing technologies. If new technology is needed to meet the
            requirements, provide the evaluations and tradeoffs of the various available technologies, make acquisition
            recommendations and plan the integration of the new technology into the existing infrastructure.</p>
        <p>Based on corporate IT Governance, new technologies may be evaluated and inserted into the existing
            infrastructure to implement a new technology direction, i.e., Lotus Notes clients to Java based web
            front-ends or Exchange Public Folders to SharePoint.</p>
        <h3>Disaster Recovery planning and implementation</h3>
        <p>Establish the enterprise level Disaster Recovery (DR)/Continuity of Operations Planning (COOP) to include
            hardware, software, policies and procedures.</p>

        <p>For new or upgraded systems, identify any modiﬁcations to the existing DR strategy. The DR/COOP strategy will
            be implemented and tested by the engineering staff at the appropriate phases of the project.</p>

        <p>Nucigent consultants collaborate with the customer to assess the technological feasibility of the identiﬁed
            business requirements. Engineering recommendations are made to ensure the application components ﬁt
            together, performance requirements are met, and the system design meets customer requirements.</p>

    </div>
</div>



</div>